<template>
    <div>
        Hello World!
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'layout-main',
        components: {

        },
        mounted() {
            this.pageTitle = this.$route.meta.pageTitle;
        },
        beforeDestroy() {

        },
        created() {

        },
        data() {
            return {
                pageTitle: ''
            }
        },
        beforeRouteEnter(from, to, next) {
            console.log('♠ layouts/main.vue');
            next(); //if you use beforeRouteEnter this must be fired or reroute to another location
        },
        methods: {

        }
    }
</script>
