<template>
    <div class="application application_vue">
        <router-view></router-view>
    </div>
</template>

<script>
    import Bus from '../services/bus';
    import Socket from '../services/socket';

    export default {
        name: 'application',
        components: {
            Bus,
            Socket
        },
        data() {
            return {
                title: ''
            };
        },
        mounted() {
            this.title = this.$route.meta.title;
            this.setTitle();
            Bus.$on('route:changed', (route) => {
                console.info("♦bus.$on('route:changed'");
                this.title = route.meta.title;
                this.setTitle();
            });
            console.log("Log: ");
        },
        methods: {
            setTitle() {
                document.title = this.title;
            }
        }
    }
</script>
