<template>
    <div class="main-vue">
        {{ title }}
    </div>
</template>
<script>
    export default {
        name: 'main',
        components: {
        },
        data() {
            return {
                reglamentUrl: null,
                title: 'title'
            }
        },
        created() {

        },
        beforeRouteEnter(from, to, next) {
            console.log('♠ main.vue');
            next();//if you use beforeRouteEnter this must be fired or reroute to another location
        }
    }
</script>
