<template>
    <div class="layout-404 flex-row-column by-content flex-aligner horizontal">
        not found vue
            <div class="flex-aligner-item">
                <div class="page-not-found flex-row">
                    <div class="sign-404 flex-row-column by-content">
                        <div class="decor"></div>
                        <div class="content flex-aligner horizontal">
                            <div class="flex-aligner-item">
                                <div class="num">404</div>
                                <div class="title">Нет такой страницы</div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row-column by-content column-divider"></div>
                    <div class="flex-row-column flex-aligner horizontal plot by-content">
                        <div class="flex-aligner-item">
                            <router-link class="btn" :to="{ name: 'main' }">Вернуться домой</router-link>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>

<script>
    import utils from '../utils';

    export default {
        name: 'not-found',
        beforeRouteEnter(from, to, next) {
            console.log('♠ not-found.vue');
            next();//if you use beforeRouteEnter this must be fired or reroute to another location
        }
    }
</script>
