@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: local('Lato-Regular'), local('Lato-Regular'),
    url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Semibold';
    src: url('../fonts/Lato/Lato-Semibold.eot');
    src: local('Lato-Semibold'), local('Lato-Semibold'),
    url('../fonts/Lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Semibold.woff') format('woff'),
    url('../fonts/Lato/Lato-Semibold.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato/Lato-Light.eot');
    src: local('Lato-Light'), local('Lato-Light'),
    url('../fonts/Lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Light.woff') format('woff'),
    url('../fonts/Lato/Lato-Light.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/Lato/Lato-Bold.eot');
    src: local('Lato-Bold'), local('Lato-Bold'),
    url('../fonts/Lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato/Lato-Bold.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Bold.svg#Lato-Bold') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'Lato-Heavy';
    src: url('../fonts/Lato/Lato-Heavy.eot');
    src: local('Lato-Heavy'), local('Lato-Heavy'),
    url('../fonts/Lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Lato/Lato-Heavy.woff2') format('woff2'),
    url('../fonts/Lato/Lato-Heavy.woff') format('woff'),
    url('../fonts/Lato/Lato-Heavy.ttf') format('truetype'),
    url('../fonts/Lato/Lato-Heavy.svg#Lato-Heavy') format('svg');
    font-weight: normal;
}