@font-face {
  font-family: 'Rubik-Black';
  src: url('../fonts/Rubic/rubik-black-webfont.eot');
  src: url('../fonts/Rubic/rubik-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-black-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-black-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-black-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-black-webfont.svg#rubikblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Black-Italic';
  src: url('../fonts/Rubic/rubik-blackitalic-webfont.eot');
  src: url('../fonts/Rubic/rubik-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-blackitalic-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-blackitalic-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-blackitalic-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-blackitalic-webfont.svg#rubikblack_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Bold';
  src: url('../fonts/Rubic/rubik-bold-webfont.eot');
  src: url('../fonts/Rubic/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-bold-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-bold-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-bold-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-bold-webfont.svg#rubikbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Bold-Italic';
  src: url('../fonts/Rubic/rubik-bolditalic-webfont.eot');
  src: url('../fonts/Rubic/rubik-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-bolditalic-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-bolditalic-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-bolditalic-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-bolditalic-webfont.svg#rubikbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Italic';
  src: url('../fonts/Rubic/rubik-italic-webfont.eot');
  src: url('../fonts/Rubic/rubik-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-italic-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-italic-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-italic-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-italic-webfont.svg#rubikitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Light';
  src: url('../fonts/Rubic/rubik-light-webfont.eot');
  src: url('../fonts/Rubic/rubik-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-light-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-light-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-light-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-light-webfont.svg#rubiklight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Light-Italic';
  src: url('../fonts/Rubic/rubik-lightitalic-webfont.eot');
  src: url('../fonts/Rubic/rubik-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-lightitalic-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-lightitalic-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-lightitalic-webfont.svg#rubiklight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Medium';
  src: url('../fonts/Rubic/rubik-medium-webfont.eot');
  src: url('../fonts/Rubic/rubik-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-medium-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-medium-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-medium-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-medium-webfont.svg#rubikmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rubik-Medium-Italic';
  src: url('../fonts/Rubic/rubik-mediumitalic-webfont.eot');
  src: url('../fonts/Rubic/rubik-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-mediumitalic-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-mediumitalic-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-mediumitalic-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-mediumitalic-webfont.svg#rubikmedium_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url('../fonts/Rubic/rubik-regular-webfont.eot');
  src: url('../fonts/Rubic/rubik-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Rubic/rubik-regular-webfont.woff2') format('woff2'),
  url('../fonts/Rubic/rubik-regular-webfont.woff') format('woff'),
  url('../fonts/Rubic/rubik-regular-webfont.ttf') format('truetype'),
  url('../fonts/Rubic/rubik-regular-webfont.svg#rubikregular') format('svg');
  font-weight: normal;
  font-style: normal;
}