$fontColor: #222222;
$fontDefault: normal normal normal 14px/100% 'Lato-Regular', sans-serif;
$fontDefaultLight: normal normal normal 14px/100% 'Lato-Light', sans-serif;
$fontDefaultSemiBold: normal normal normal 14px/100% 'Lato-Semibold', sans-serif;
$fontDefaultBold: normal normal normal 14px/100% 'Lato-Bold', sans-serif;
$fontDefaultMedium: normal normal normal 14px/100% 'Lato-Medium', sans-serif;
$fontDefaultHeavy: normal normal normal 14px/100% 'Lato-Heavy', sans-serif;



$textColorMain: #333333;
$textColorLighter: lighten($textColorMain,20%);
$textColorLight: lighten($textColorMain,40%);

$defaultRibbonWidth: 1366px;

$headerBackgroundColor: #ffffff;
$headerTextColor: #000000;

$footerBackgroundColor: #333333;
$footerTextColor: #ffffff;

$headerDefaultHeight: 80px;

$footerDefaultHeight: 50px;

$defaultBackgroundColor: #edf1f3;

$defaultErrorColor: #c1272d;

$screen-sm-min: 1024px;
$screen-md-min: 1200px;
