/**
 * Created by Vosmer on 08.01.2017. vosmer@yandex.ru
 */
html, body, .application {
    height: 100%;
    margin: 0;
    padding: 0;
    font: $fontDefault;
    background: $defaultBackgroundColor;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $fontColor;
}

a, button, input[type='button'], input[type='submit'] {
    outline: none;
    cursor: pointer;
    &:hover, &:focus {
        outline: none;
    }
}
