<template>
    <div class="eg-datepicker">
        <div class="type-list-item" @click="calendarTypeToggle('week')"
             :class="{'is-active': calendar.mode === 'week'}">Неделя
        </div>
        <div class="type-list-item" @click="calendarTypeToggle('month')"
             :class="{'is-active': calendar.mode === 'month'}">Месяц
        </div>
        <div class="type-list-item" @click="calendarTypeToggle('year')"
             :class="{'is-active': calendar.mode === 'year'}">Год
        </div>
        <div class="type-list-item" @click="calendarTypeToggle('none')"
             :class="{'is-active': calendar.mode === 'none'}">За все время
        </div>
        <div class="type-list-item" @click="calendarTypeToggle('arbitrary')"
             :class="{'is-active': calendar.mode === 'arbitrary'}">За произвольный период
        </div>
        <div class="calendar">
            <div class="calendar-input" @click="calendarToggle()">{{
                calendar.startDate }} - {{ calendar.endDate }}
            </div>
            <div class="myDatePicker" :class="{'is-opened': calendar.opened === true}">
                <div class="myDatePicker-wrapper">
                    <div class="myDatePicker-type week" v-if="calendar.mode === 'week'">
                        <div class="myDatePicker-year-sub" @click="yearSub()">-</div>
                        <div class="myDatePicker-year">{{ calendar.currentYear }}</div>
                        <div class="myDatePicker-year-add" @click="yearAdd()">+</div>
                        <div class="myDatePicker-months-title">{{calendar.currentMonthName}}
                        </div>
                        <div class="myDatePicker-months-toggle"
                             @click="switchChoiseMode()">{{(calendar.choiseMode
                            === 'days')?("Сменить месяц"):("Выбрать неделю")}}
                        </div>
                        <div class="myDatePicker-months-wrapper"
                             v-if="calendar.choiseMode === 'months'">
                            <div class="myDatePicker-months">
                                <div class="myDatePicker-months-item" v-for="month in months"
                                     @click="choiseMonth(month, calendar)"
                                     :class="getMonthClass(month,calendar)">
                                    {{ month.shortName }}
                                </div>
                            </div>
                        </div>
                        <div class="myDatePicker-weeks" v-if="calendar.choiseMode === 'days'">
                            <div class="myDatePicker-weeks-item"
                                 v-for="(week, index) in calendar.weeks"
                                 :class="getWeekClass(week, index, calendar)"
                                 @click="choiseWeek(week, calendar)">
                                <div class="myDatePicker-weeks-item-number">{{ week.number }}</div>
                                <div class="myDatePicker-weeks-item-day" v-for="day in week.days">
                                    {{ day }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="myDatePicker-type year" v-if="calendar.mode === 'year'">
                        <div class="myDatePicker-year-sub" @click="yearSub(calendar)">-</div>
                        <div class="myDatePicker-year">{{ calendar.currentYear }}</div>
                        <div class="myDatePicker-year-add" @click="yearAdd(calendar)">+</div>
                    </div>
                    <div class="myDatePicker-type month" v-if="calendar.mode === 'month'">
                        <div class="myDatePicker-year-sub" @click="yearSub(calendar)">-</div>
                        <div class="myDatePicker-year">{{ calendar.currentYear }}</div>
                        <div class="myDatePicker-year-add" @click="yearAdd(calendar)">+</div>
                        <div class="myDatePicker-months">
                            <div class="myDatePicker-months-item" v-for="month in months"
                                 @click="choiseMonth(month, calendar)"
                                 :class="getMonthClass(month,calendar)">
                                {{ month.shortName }}
                            </div>
                        </div>
                    </div>
                    <div class="myDatePicker-type range" v-if="calendar.mode === 'arbitrary'">
                        <div class="daterange-picker">
                            <template>
                                <div>
                                    <date-picker v-model="calendar.period" lang="ru"
                                                 format="dd.MM.yyyy" range confirm
                                                 @confirm="onConfirmDateRange(calendar.period)"
                                                 confirm-text="ОК" :shortcuts="shortcuts"></date-picker>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="myDatePicker-button-wrapper"
                         v-if="calendar.mode !== 'arbitrary'">
                        <div class="myDatePicker-button" @click="applyChoise()">Ок</div>
                        <div class="myDatePicker-button cancel" @click="closeCalendar()">
                            Закрыть
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import DatePicker from 'vue2-datepicker';
    import Moment from 'moment';
    import Locale from 'moment/locale/ru.js';
    
    export default {
        components: {
            DatePicker,
            Moment,
            Locale
        },
        props: {
            value: {
                type: String,
                default: null
            },
            calendar: {
                type: Object,
                default: function(){
                    return {
                        name: "manager",
                        mode: "none",
                        currentWeek: null,
                        currentMonth: null,
                        currentMonthName: "Янв",
                        choiseMode: "days",
                        weekNumber: 13,
                        weeks: [
                            {
                                number: 12,
                                days: [1, 2, 3, 4]
                            },
                            {
                                number: 13,
                                days: [5, 6, 7, 8, 9, 10, 11]
                            },
                            {
                                number: 14,
                                days: [12, 13, 14, 15, 16, 17, 18]
                            },
                            {
                                number: 15,
                                days: [19, 20, 21, 22, 23, 24, 25]
                            },
                            {
                                number: 16,
                                days: [26, 27, 28, 29, 30, 31]
                            }
                        ],
                        currentYear: (new Date()).getFullYear(),
                        startDate: null,
                        endDate: null,
                        opened: false,
                        period: []
                    }
                }
            }
        },
        data() {
            return {
                shortcuts: [],
                months: [
                    {
                        id: 0,
                        name: "Январь",
                        shortName: "Янв",
                        days: 31
                    },
                    {
                        id: 1,
                        name: "Февраль",
                        shortName: "Фев",
                        days: 28,
                        extDays: 29
                    },
                    {
                        id: 2,
                        name: "Март",
                        shortName: "Мрт",
                        days: 31
                    },
                    {
                        id: 3,
                        name: "Апрель",
                        shortName: "Апр",
                        days: 30
                    },
                    {
                        id: 4,
                        name: "Май",
                        shortName: "Май",
                        days: 31
                    },
                    {
                        id: 5,
                        name: "Июнь",
                        shortName: "Июн",
                        days: 30
                    },
                    {
                        id: 6,
                        name: "Июль",
                        shortName: "Июл",
                        days: 31
                    },
                    {
                        id: 7,
                        name: "Август",
                        shortName: "Авг",
                        days: 31
                    },
                    {
                        id: 8,
                        name: "Сентябрь",
                        shortName: "Сен",
                        days: 30
                    },
                    {
                        id: 9,
                        name: "Октябрь",
                        shortName: "Окт",
                        days: 31
                    },
                    {
                        id: 10,
                        name: "Ноябрь",
                        shortName: "Нбр",
                        days: 30
                    },
                    {
                        id: 11,
                        name: "Декабрь",
                        shortName: "Дек",
                        days: 31
                    },

                ],
                buffer: {

                },
                defaultStartDate: '01.02.2011',
                defaultEndDate: Moment(new Date()).format('DD.MM.YYYY')
            };
        },
        created() {
            console.log(this.calendar);
        },
        methods: {
            calendarTypeToggle(mode) {
                this.calendar.mode = mode;
                let nowDate = new Date();
                let defaultDate = Moment(new Date()).format('DD.MM.YYYY');
                let defaultDateParts = defaultDate.split('.');
                switch (mode) {
                    case "none":
                        if (this.calendar.opened === true) {
                            this.calendar.opened = false;
                        }
                        this.calendar.startDate = this.defaultStartDate;
                        this.calendar.endDate = this.defaultEndDate;
                        break;
                    case "week":
                        Date.prototype.getWeek = function (start) {
                            start = start || 0;
                            let today = new Date(this.setHours(0, 0, 0, 0));
                            let today1 = new Date(this.setHours(0, 0, 0, 0));
                            let day = today.getDay() - start;
                            let date = today.getDate() - day;
                            let date1 = today1.getDate() - day;
                            let StartDate = new Date(today.setDate(date + 1));
                            let EndDate = new Date(today1.setDate(date1 + 7));
                            return [StartDate, EndDate];
                        };
                        let Dates = new Date().getWeek();
                        this.calendar.startDate = Dates[0].toLocaleDateString();
                        this.calendar.endDate = Dates[1].toLocaleDateString();
                        this.calendar.currentMonth = nowDate.getMonth();
                        this.calendar.currentYear = nowDate.getFullYear();

                        let date = new Date();
                        date.setHours(0, 0, 0, 0);
                        date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
                        let week1 = new Date(date.getFullYear(), 0, 4);
                        let currentWeek = 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
                            - 3 + (week1.getDay() + 6) % 7) / 7);
                        this.calendar.weekNumber = currentWeek;
                        let currentMonthName = "";
                        let currentMonth = this.calendar.currentMonth;
                        this.months.forEach(function (month) {
                            if (month.id === currentMonth) {
                                currentMonthName = month.name;
                            }
                        });
                        this.calendar.currentMonthName = currentMonthName;
                        this.buildMonth(this.calendar.currentYear, this.calendar.currentMonth, this.calendar);
                        break;
                    case "month":
                        this.calendar.startDate = "01." + defaultDateParts[1] + "." + defaultDateParts[2];
                        let endMonthDay = 31;
                        let monthName = "";
                        this.months.forEach(function (month) {
                            if (month.id === (defaultDateParts[1] - 1)) {
                                if (month.id === 1 && this.calendar.currentYear % 4 === 0) {
                                    endMonthDay = month.extDays;
                                } else {
                                    endMonthDay = month.days;
                                }
                                monthName = month.name;
                            }
                        });
                        this.calendar.endDate = endMonthDay + "." + defaultDateParts[1] + "." + defaultDateParts[2];
                        this.calendar.currentMonth = nowDate.getMonth();
                        this.calendar.currentMonthName = monthName;
                        this.calendar.currentYear = nowDate.getFullYear();
                        break;
                    case "year":
                        this.calendar.startDate = "01.01." + defaultDateParts[2];
                        this.calendar.endDate = "31.12." + defaultDateParts[2];
                        this.calendar.currentMonth = null;
                        this.calendar.currentYear = nowDate.getFullYear();
                        break;
                    case "arbitrary":
                        this.calendar.opened = !this.calendar.opened;
                        break
                }
                this.buffer.currentMonth = this.calendar.currentMonth;
                this.buffer.currentYear = this.calendar.currentYear;
                this.buffer.currentWeek = this.calendar.currentWeek;
                this.buffer.currentMonthName = this.calendar.currentMonthName;
                this.buffer.choiseMode = this.calendar.choiseMode;
                this.buffer.weekNumber = this.calendar.weekNumber;
                this.buffer.weeks = this.calendar.weeks;
                this.buffer.startDate = this.calendar.startDate;
                this.buffer.endDate = this.calendar.endDate;
            },
            choiseMonth(month) {
                this.calendar.currentMonth = month.id;
                this.calendar.currentMonthName = month.name;
                this.buildMonth(this.calendar.currentYear, this.calendar.currentMonth);
            },
            getMonthClass(month) {
                if (month.id === this.calendar.currentMonth) {
                    return "active";
                }
            },
            yearAdd() {
                this.calendar.currentYear = this.calendar.currentYear + 1;
                this.buildMonth(this.calendar.currentYear, this.calendar.currentMonth);
            },
            yearSub() {
                this.calendar.currentYear = this.calendar.currentYear - 1;
                this.buildMonth(this.calendar.currentYear, this.calendar.currentMonth);
            },
            calendarToggle() {
                if (this.calendar.mode !== "none") {
                    this.calendar.opened = !this.calendar.opened;
                    this.openedCalendar = this.calendar;
                }
            },
            buildMonth(year, month) {
                function getWeek(year, month) {
                    let date = new Date(year, month, 1);
                    date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
                    let week1 = new Date(date.getFullYear(), 0, 4);
                    return 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
                        - 3 + (week1.getDay() + 6) % 7) / 7);
                }

                let startMonthDate = new Date(year, month, 1);
                let startMonthDay = startMonthDate.getDay();
                let weeks = [];
                let daysOfMonth = 31;
                let currentYear = this.calendar.currentYear;
                this.months.forEach(function (monthItem) {
                    if (monthItem.id === month) {
                        if (monthItem.id === 1 && currentYear % 4 === 0) {
                            daysOfMonth = monthItem.extDays;
                        } else {
                            daysOfMonth = monthItem.days;
                        }
                    }
                });
                let counter = 1;
                let week = {
                    number: null,
                    days: []
                };
                if (startMonthDay === 0) {
                    startMonthDay = 7;
                }
                for (let i = 1; i <= 8 - startMonthDay; i++) {
                    week.days.push(counter);
                    counter++
                }
                let weekNumber = getWeek(year, month);
                week.number = weekNumber;
                weekNumber++;
                weeks.push(week);
                let fullWeeks = Math.trunc((daysOfMonth - week.days.length) / 7);
                for (let weekCounter = 1; weekCounter <= fullWeeks; weekCounter++) {
                    let week = {
                        number: null,
                        days: []
                    };
                    for (let j = 1; j <= 7; j++) {
                        week.days.push(counter);
                        counter++
                    }
                    week.number = weekNumber;
                    weeks.push(week);
                    weekNumber++;
                }
                let lastWeek = {
                    number: weekNumber,
                    days: []
                };
                for (let lastWeekCounter = 1; lastWeekCounter <= 7; lastWeekCounter++) {
                    if (counter <= daysOfMonth) {
                        lastWeek.days.push(counter);
                        counter++;
                    }
                }
                weeks.push(lastWeek);
                this.calendar.weeks = weeks;
            },
            applyChoise() {
                switch (this.calendar.mode) {
                    case "week":
                        Date.prototype.getWeek = function (year, month, currentDay) {
                            let today = new Date(year, month, currentDay);
                            let today1 = new Date(year, month, currentDay);
                            today.setHours(0,0,0,0);
                            today1.setHours(0,0,0,0);
                            let day = today.getDay();
                            if (day === 0){
                                day = 7;
                            }
                            let date = today.getDate() - day;
                            let date1 = today1.getDate() - day;
                            let StartDate = new Date(today.setDate(date + 1));
                            let EndDate = new Date(today1.setDate(date1 + 7));
                            return [StartDate, EndDate];
                        };
                        let Dates = new Date().getWeek(this.calendar.currentYear, this.calendar.currentMonth, this.calendar.currentWeek.days[0]);
                        this.calendar.startDate = Dates[0].toLocaleDateString();
                        this.calendar.endDate = Dates[1].toLocaleDateString();
                        let date = new Date(this.calendar.currentYear, this.calendar.currentMonth, this.calendar.currentWeek.days[0]);
                        date.setHours(0, 0, 0, 0);
                        date.setDate(date.getDate() + 3 - (date.getDay() + 6) % 7);
                        let week1 = new Date(date.getFullYear(), 0, 4);
                        let currentWeek = 1 + Math.round(((date.getTime() - week1.getTime()) / 86400000
                            - 3 + (week1.getDay() + 6) % 7) / 7);
                        this.calendar.weekNumber = currentWeek;
                        break;
                    case "month":
                        let currentMonth = (this.calendar.currentMonth < 9) ? ("0" + (this.calendar.currentMonth + 1)) : (this.calendar.currentMonth + 1);
                        this.calendar.startDate = "01." + currentMonth + "." + this.calendar.currentYear;
                        let endMonthDay = 31;
                        let currentYear = this.calendar.currentYear;
                        this.months.forEach(function (month) {
                            if (month.id === (currentMonth - 1)) {
                                if (month.id === 1 && currentYear % 4 === 0) {
                                    endMonthDay = month.extDays;
                                } else {
                                    endMonthDay = month.days;
                                }
                            }
                        });
                        this.calendar.endDate = endMonthDay + "." + currentMonth + "." + this.calendar.currentYear;
                        break;
                    case "year":
                        this.calendar.startDate = "01.01." + this.calendar.currentYear;
                        this.calendar.endDate = "31.12." + this.calendar.currentYear;
                        break;
                }
                this.buffer.currentMonth = this.calendar.currentMonth;
                this.buffer.currentYear = this.calendar.currentYear;
                this.buffer.currentWeek = this.calendar.currentWeek;
                this.buffer.currentMonthName = this.calendar.currentMonthName;
                this.buffer.choiseMode = this.calendar.choiseMode;
                this.buffer.weekNumber = this.calendar.weekNumber;
                this.buffer.weeks = this.calendar.weeks;
                this.buffer.startDate = this.calendar.startDate;
                this.buffer.endDate = this.calendar.endDate;
                this.calendar.opened = false;
            },
            closeCalendar() {
                this.calendar.currentMonth = this.buffer.currentMonth;
                this.calendar.currentYear = this.buffer.currentYear;
                this.calendar.currentMonth = this.buffer.currentMonth;
                this.calendar.currentYear = this.buffer.currentYear;
                this.calendar.currentWeek = this.buffer.currentWeek;
                this.calendar.currentMonthName = this.buffer.currentMonthName;
                this.calendar.choiseMode = this.buffer.choiseMode;
                this.calendar.weekNumber = this.buffer.weekNumber;
                this.calendar.weeks = this.buffer.weeks;
                this.calendar.startDate = this.buffer.startDate;
                this.calendar.endDate = this.buffer.endDate;
                this.calendar.opened = false;
            },
            onConfirmDateRange(period) {
                this.calendar.startDate = Moment(period[0]).format("DD.MM.YYYY");
                this.calendar.endDate = Moment(period[1]).format("DD.MM.YYYY");
                this.calendar.opened = false;
            },
            getWeekClass(week, index) {
                let postClass = "";
                if (week.number === this.calendar.weekNumber) {
                    postClass = "active";
                }
                let preClass = "";
                if (index === 0) {
                    preClass = "padding" + week.days.length;
                }
                return preClass + " " + postClass;
            },
            choiseWeek(week) {
                this.calendar.weekNumber = week.number;
                this.calendar.currentWeek = week;
            },
            switchChoiseMode() {
                if (this.calendar.choiseMode === 'days') {
                    this.calendar.choiseMode = 'months';
                } else {
                    this.calendar.choiseMode = 'days';
                }
            },
        }
    };
</script>