<template>
    <div class="vos-autocomplete">
        <input class="inp" type="text" ref="enteredTextField" :value="value" @input="typeText()" />
        <span v-if="selectedItems" v-for="selectedItem in selectedItems">{{ selectedItem.title }}</span>
        <ul class="suggestions-list" v-if="foundItems && foundItems.length > 0">
            <li class="suggestion" v-for="foundItem in foundItems" @click="applyFoundItem(foundItem)"><span class="suggestion-label">{{ foundItem }}</span></li>
        </ul>
    </div>
</template>
<script>
    export default {
        props: {
            /**
             * variable used to be fetched and edited which is passed to v-model
             * @type {String}
             */
            value: {
                type: String,
                default: null
            },
            /**
             * ajax URL the list of available options will be fetched from
             * @type {String}
             */
            url: {
                type: String,
                default: null
            },
            /**
             * the minimum length of string enough to show list of available options
             * @type {Integer}
             */
            min: {
                type: Number,
                default: 1
            },
            /**
             * the parameter name useed to get data from server using url
             * @type {String}
             * @default 'q'
             */
            param: {
                type: String,
                default: 'q'
            },
            // Process the result before retrieveng the result array.
            process: Function,
        },
        data() {
            return {
                selectedItems: null,
                foundItems: null
            };
        },
        methods: {
            doAjax: function doAjax(val) {
                let _that = this;
                // Compose Params
                let params = _that.param + "=" + encodeURIComponent(val);
                // Init Ajax
                let ajax = new XMLHttpRequest();
                ajax.open('GET', _that.url + "?" + params, true);
                // On Done
                ajax.addEventListener('loadend', function (e) {
                    let responseText = e.target.responseText;
                    let json = JSON.parse(responseText);
                    // Callback Event
                    _that.onAjaxLoaded ? _that.onAjaxLoaded(json) : null;
                    _that.foundItems = _that.process ? _that.process(json) : json;
                });
                // Send Ajax
                ajax.send();
            },
            typeText() {
                let val = this.$refs.enteredTextField.value;
                this.$emit('input', val);
                if (val.length >= this.min) {
                    this.doAjax(val);
                }
            },
            applyFoundItem(val) {
                this.$refs.enteredTextField.value = val;
                this.$emit('input', val);
                this.foundItems = null;
            }
        }
    };
</script>