<template>
    <div class="vos-autocomplete">
        <div class="selected-list">
            <span class="selected-list-item"
                  v-if="(selectedItems && (selectedItems.length>=1))"
                  v-for="selectedItem in selectedItems"
            >{{ selectedItem[selectedLabel] }}<!--
            --><span class="delete" @click="deselectItem(selectedItem)"></span><!--
        --></span>
        </div>
        <input class="inp" :placeholder="placeholder" type="text" ref="enteredTextField" @input="typeText()" @focus="focusEvent()" />
        <ul class="suggestions-list" v-if="foundItems && foundItems.length > 0 && typeAlListOpened === true">
            <li class="suggestion" v-for="foundItem in foundItems" @click.stop="applyFoundItem(foundItem)">
                <span class="suggestion-label">{{ foundItem[selectedLabel] }}</span>
                <ul class="suggestions-list children" v-if="itemHasChildren(foundItem)">
                    <li class="suggestion"
                        v-for="foundItemChild in foundItem[childrenAttr]"
                        @click.stop="applyFoundItem(foundItemChild)"
                    >
                        <span class="suggestion-label">{{ foundItemChild[selectedLabel] }}</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</template>
<script>
    import _ from 'lodash';
    import Bus from '../../services/bus';
    import Utils from '../../utils';

    export default {
        name: 'vos-multiselect',
        components: {
            'suggestions-list': {//TODO recursion
                template: '',
                props: {}
            }
        },
        props: {
            /**
             * variable used to be fetched and edited which is passed to v-model
             * @type {String}
             */
            value: {
                type: [Array, String, Object],
                default: []
            },
            /**
             * ajax URL the list of available options will be fetched from
             * @type {String}
             */
            url: {
                type: String,
                default: null
            },
            /**
             * the minimum length of string enough to show list of available options
             * @type {Integer}
             */
            min: {
                type: Number,
                default: 1
            },
            /**
             * the parameter name used to get data from server using url
             * @type {String}
             * @default 'q'
             */
            param: {
                type: String,
                default: 'q'
            },
            /**
             * array key of each found item to be used as value for selected item
             * @type {String}
             * @default 'id'
             */
            selectedValue: {
                type: String,
                default: 'id'
            },
            /**
             * array key of each found item to be used as label for selected item
             * @type {String}
             * @default 'title'
             */
            selectedLabel: {
                type: String,
                default: 'title'
            },
            /**
             * array key of found item to be used to get child-items
             * @type {String}
             * @default 'childrenList'
             */
            childrenAttr: {
                type: String,
                default: 'childrenList'
            },
            //placeholder for search-input
            placeholder: {
                type: String,
                default: 'Select option'
            },
            //if multiple
            multiple: { //TODO apply
                type: Boolean,
                default: true
            },
            // Processes the result before retrieving the result array.
            process: Function
        },
        data() {
            return {
                selectedItems: [],
                foundItems: null,
                itemsCameFromServer: null,
                selectedItemsCSV: '',
                typeAlListOpened: false
            };
        },
        created() {
            this.processInitialList(this.value);
        },
        mounted(){
            Bus.$on('globalClick', this.globalClick);
            this.doAjax();
        },
        methods: {
            processInitialList(list) {
                if (typeof(list) === "string" || list === null){
                    this.selectedItems = [];
                } else {
                    this.selectedItems = list;
                }
            },
            doAjax: function(val) {
                let _that = this;
                // Compose Params
                let params = _that.param + "=" + encodeURIComponent(val);
                // Init Ajax
                let ajax = new XMLHttpRequest();
                ajax.open('GET', _that.url + "?" + params, true);
                // On Done
                ajax.addEventListener('loadend', function (e) {
                    let responseText = e.target.responseText;
                    let json = JSON.parse(responseText);
                    // Callback Event
                    _that.onAjaxLoaded ? _that.onAjaxLoaded(json) : null;
                    let result = _that.process ? _that.process(json) : json;
                    _that.foundItems = result;
                    _that.itemsCameFromServer = result;
                    _that.companeFoundList();
                });
                // Send Ajax
                ajax.send();
            },
            typeText() {
                let val = this.$refs.enteredTextField.value;
                this.$emit('input', val);
                if (val.length >= this.min) {
                    this.doAjax(val);
                }
            },
            focusEvent() {
                let val = "";
                this.doAjax(val);
                this.typeAlListOpened = true;
            },
            applyFoundItem(val) {
                let _that = this;
                if (_that.selectedItems === null){
                    _that.selectedItems = [];
                }
                _that.selectedItems.push(val);
                if (val.childrenList.length > 0){
                    val.childrenList.forEach(function(child){
                        _that.selectedItems.push(child);
                    });
                }
                // this.processFoundList(val);
                _that.companeFoundList();
                _that.processedValue();
                _that.$emit('input', _that.selectedItems);
            },
            processedValue() {
                if (this.selectedItems && this.selectedItems.length > 0) {
                    this.selectedItemsCSV = '';
                    let f = false;
                    for (let itm = 0; itm < this.selectedItems.length; itm++) {
                        this.selectedItemsCSV += (((f)?';':'') + this.selectedItems[itm][this.selectedValue]);
                        f = true;
                    }
                }
                if(this.selectedItems && this.selectedItems.length === 0) {
                    this.selectedItemsCSV = '';
                }
            },
            processFoundList(val) {
                let _that = this;
                let tempArrayOfFoundItems = new Array();
                _.each(_that.itemsCameFromServer, (itm) => {
                    let obj = {};
                    obj[_that.selectedValue] = itm[_that.selectedValue];
                    if (_.findIndex(_that.selectedItems, obj) === -1) {
                        tempArrayOfFoundItems.push(itm);
                    }
                });
                tempArrayOfFoundItems.pop(val);
                _that.foundItems = tempArrayOfFoundItems;
            },
            companeFoundList(){
                let _that = this;
                console.log("_that.selectedItems", _that.selectedItems);
                if (_that.selectedItems === null){
                    _that.selectedItems = [];
                }
                let tempArrayOfFoundItems = new Array();
                _that.itemsCameFromServer.forEach(function(item){
                    let isChoised = false;
                    _that.selectedItems.forEach(function(selectedItem){
                        if (item[_that.selectedValue] === selectedItem[_that.selectedValue]){
                            isChoised = true;
                        }
                    });
                    if (!isChoised){
                        item = _that.companeItemChilds(item);
                        tempArrayOfFoundItems.push(item);
                    }
                });
                _that.foundItems = tempArrayOfFoundItems;
            },
            companeItemChilds(item){
                let _that = this;
                let newItem = {};
                newItem[_that.selectedValue] = item[_that.selectedValue];
                newItem.typeShort = item.typeShort;
                newItem.typeTitle = item.typeTitle;
                newItem.childrenList = new Array();
                item.childrenList.forEach(function(child){
                    let isChoised = false;
                    _that.selectedItems.forEach(function(selectedItem){
                        if (child[_that.selectedValue] === selectedItem[_that.selectedValue]){
                            isChoised = true;
                        }
                    });
                    if (!isChoised){
                        newItem.childrenList.push(child);
                    }
                });
                return newItem;
            },
            deselectItem(item) {
                let _that = this;
                let tempArray = [];
                _.each(_that.selectedItems, (itm) => {
                    if( item[_that.selectedValue] !== itm[_that.selectedValue]) {
                        let isChildOnItem = false;
                        item.childrenList.forEach(function(child){
                            if (child[_that.selectedValue] === itm[_that.selectedValue]){
                                isChildOnItem = true;
                            }
                        });

                        if (!isChildOnItem){
                            tempArray.push(itm);
                        }
                    } else {}
                });
                _that.selectedItems = tempArray;
                _that.processedValue();
                _that.companeFoundList();
                _that.$emit('input', _that.selectedItems);
            },
            itemHasChildren(item) {
                return item[this.childrenAttr] && item[this.childrenAttr].length > 0;
            },
            globalClick(val){
                if (Utils.cssClasses.paByCls(val,"vos-multiselect") === undefined){
                    this.typeAlListOpened = false;
                }
            }
        },
        watch: {
            
            value: {
                handler: function(val) {

                },
                deep: true
            },
        },
    };
</script>